h1 {
  color: #ffffff;
  font-weight: 600;
  font-family: Montserrat;
  --minFontSize: 20px;
  --maxFontSize: 100px;
  --scaler: 7.5vw;
  font-size: clamp(var(--minFontSize), var(--scaler), var(--maxFontSize));
  text-align: center;
}
h2 {
  color: #ffffff;
  font-weight: 600;
  font-size: 2.2vw;
  font-family: Montserrat;
  text-align: center;
}

h3 {
  color: #19355e;
  font-weight: 600;
  font-size: 3vw;
  font-family: Montserrat;
  margin-left: 5%;
  padding-top: 4%;
}

h4 {
  color: #19355e;
  font-weight: 600;
}

a {
  text-decoration: none;
}
.copyrightfooter {
  background-color: #19355e;
}
.navbar {
  background-color: #19355e;
}
.Rentepropertieslogotext {
  margin: 0;
  margin-left: 1.5rem;
  margin-bottom: 0;
  font-family: Montserrat;
  color: #ffffff;
  font-weight: 500;
  font-size: large;
}

.navbarlogo {
  margin-left: 1.5rem;
}
.nav-link {
  font-family: Poppins;
  color: #ffffff;
}

.privacypolicy {
  color: #ffffff;
  font-weight: 500;
  font-family: poppins;
  font-size: 1.1vw;
}
.privacypolicytable {
  font-family: poppins;
  font-size: 0.95vw;
  font-weight: 400;
}

.downlink {
  color: #ffffff;
}

.Footer {
  background-color: #ffffff;
}
.Aboutus {
  font-family: Montserrat;
}
.Contactus {
  font-family: Montserrat;
}
.aboutusdescription {
  color: #19355e;
}
.contactusdescription {
  color: #19355e;
}
.brandicons {
  height: 2.4rem;
  width: 2.4rem;
}
/* Centered text */
.centered {
  position: absolute;
  top: 16%;
  left: 10%;
  right: 10%;
}

.row1 {
  border-radius: 5%;
  max-height: 12rem;
}
.row2 {
  border-radius: 5%;
  max-width: 19rem;
}
.row3 {
  border-radius: 2.5%;
}
.row4 {
  border-radius: 3.5%;
}
.responsive {
  width: 100%;
  height: auto;
}

.buysell {
  color: #707070;
  font-family: montserrat;
  font-weight: bold;
  text-align: center;
  padding: 2%;
  padding-bottom: 0;
}
#menu li {
  display: inline;
}

.newdelhi {
  font-family: Poppins;
  font-weight: 500;
}
.searchbox {
  font-family: Poppins;
  font-weight: 500;
}

.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #c0bebb;
  opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #c0bebb;
}

.form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #c0bebb;
}
.dropdown-menu {
  min-width: 0;
}
.dropdown-item {
  font-family: Poppins;
  font-weight: 500;
}
/*
.form-control {
  width: 27.5rem;
}
*/
.explorecontent {
  background-image: url(Searchbar.png);
  height: 485px;
  background-position: center;
  width: 100%;
  background-repeat: no-repeat;
}
#center {
  text-align: center;
}
.newdelhisearchbar {
  margin-left: auto;
  margin-right: auto;
}
#exploreheading {
  color: #ffffff;
}
.backgroundrectangle {
  background-color: rgba(0, 0, 0, 0.7);
}
